.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1040px;
  background-color: #303030;
  border-radius: 10px;
  
  .boss-row {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid gray;
    align-items: center;
    &-element{
        flex: 1
    }
    &-image {
      width: 140px;
      height: 140px;
      overflow: hidden;      
      img {
        width: 240px;
        height: auto;
        display: block;
      }
    }

    h2 {
      text-align: center;
      color: #32d500;
      font-size: 20px;
      max-width: 140px;
    }

    &-items{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
  }

  
}
